.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  margin-top: 100px;

  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #333;
    font-size: 14px;

    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
      transition: all 0.3s ease;
    }

    &.active {
      background-color: #28466a;
      color: white;
      border-color: #28466a;
    }
  }

  .pagination-nav {
    font-weight: bold;
    font-size: 18px;
    color: #28466a;

    &:hover {
      color: darken(#28466a, 10%);
    }

    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}
