@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OKGUNG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  .light-white {
    color: #f9f9f9;
  }
  .nav-bar {
    transition: width 0.5s ease;
  }
  .search-scroll {
    overflow: overlay;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-width: thin;
  }
  .login-button-radius {
    border-radius: 30px 30px 0 0;
  }
  .login-button-shadow {
    box-shadow:
      20px 10px 0 rgba(0, 0, 0, 0.19),
      6px 6px 0 rgba(0, 0, 0, 0.23);
  }
  .signUp-button-radius {
    border-radius: 30px 30px 0 0;
  }
  .signUp-button-shadow {
    box-shadow:
      -15px 10px 0 rgba(47, 69, 103, 0.24),
      -6px 3px 0 rgba(47, 69, 103, 0.48);
  }
  .login-active {
    border-radius: 0 0 10px 10px;
    box-shadow:
      15px 10px 0 rgba(47, 69, 103, 0.19),
      6px 3px 0 rgba(47, 69, 103, 0.23);
  }
  .signUp-active {
    border-radius: 0 0 10px 10px;
    box-shadow:
      -15px 10px 0 rgba(47, 69, 103, 0.24),
      -6px 3px 0 rgba(47, 69, 103, 0.48);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1s ease-out;
    overflow: hidden;
  }
}
