@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'OKGUNG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'ChosunCentennial';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
      format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  .light-white {
    color: #f9f9f9;
  }
  .nav-bar {
    transition: width 0.5s ease;
  }
  .search-scroll {
    overflow: overlay;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-width: thin;
  }
  .search-scroll-community {
    overflow: overlay;
    scrollbar-color: #28466a7e transparent;
    scrollbar-width: thin;
  }
  .search-scroll-pd {
    overflow: overlay;
    scrollbar-color: #28466a7e transparent;
    scrollbar-width: medium;
  }
  .login-button-radius {
    border-radius: 30px 30px 0 0;
  }
  .login-button-shadow {
    box-shadow:
      20px 10px 0 rgba(0, 0, 0, 0.19),
      6px 6px 0 rgba(0, 0, 0, 0.23);
  }
  .signUp-button-radius {
    border-radius: 30px 30px 0 0;
  }
  .signUp-button-shadow {
    box-shadow:
      -15px 10px 0 rgba(47, 69, 103, 0.24),
      -6px 3px 0 rgba(47, 69, 103, 0.48);
  }
  .login-active {
    border-radius: 0 0 10px 10px;
    box-shadow:
      15px 10px 0 rgba(47, 69, 103, 0.19),
      6px 3px 0 rgba(47, 69, 103, 0.23);
  }
  .signUp-active {
    border-radius: 0 0 10px 10px;
    box-shadow:
      -15px 10px 0 rgba(47, 69, 103, 0.24),
      -6px 3px 0 rgba(47, 69, 103, 0.48);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1s ease-out;
    overflow: hidden;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

.info-window_container {
  width: 100%;
  height: 100%;
  background-color: #28466a;
  border-radius: 20px;
  padding: 20px;
  transform: translateY(-80px);
  color: white;
  position: relative;
}

.info-tail::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: calc(50% - 8px);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 20px solid #28466a;
}

.info-window_title {
  font-size: 1.8rem;
  font-family: 'OKGUNG';
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

.info-title_img {
  width: 2rem;
  margin-right: 5px;
}

.info-window_activity {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.info-window_sights {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  padding: 1px 8px;
  border-radius: 10px;
  font-size: 14px;
}

.info-img {
  width: 0.8rem;
  height: 14px;
  margin-right: 2px;
}

:root::-webkit-scrollbar {
  display: none;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}
.waviy span {
  position: relative;
  display: inline-block;
  animation: waviy 1.8s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
